.grid {
    display: flex;   /* <--- required */
    
    

    

}

.column {
    flex: 1 ; /* <--- required (style column to fill the same space as the other columns) */
    
}

.row {
    margin: 0;
    /*background: gold;*/
    text-align: center;
    flex: auto;
    box-sizing: border-box;
}
